body {
  background-color: #455A64;
}

.left-section{
  font-family:'Open Sans', sans-serif;
  width:50%;
  border: solid red 1px;
  height:100%;
  text-align: center;
  position:absolute;
  padding: 50vh 0;
}

header{
  position: relative;
}

.logo{
margin-bottom: -8px;
padding-right: 5px;
}

.user-input-section{
  text-align: center;
}

.linked-title{
  color:#FFFFFF;
  display: inline-block;
  font: 800 40px "Open Sans", sans serif;
  text-align: center;
  /*width: 50px;*/
}

.user-input-title {
  display: block;
  margin: 5% auto;
  padding: 4px;
  text-align: left;
  height: 20px;
  width: 270px;
}

.user-input-url {
  display: block;
  margin: 5% auto;
  padding: 4px;
  text-align: left;
  width:270px;
  height: 20px;
}

.enter-button {
  background-color: #FFC107;
  color:#FFFFFF;
  display: block;
  font: 800 20px "Open Sans", sans serif;
  width: 287px;
  margin: auto;
  height: 35px;
}

.enter-button:hover {
  background-color:#FFD773;
  color:#FFFFFF;
}

@media screen and ()
