.combined-sections{
  display:flex;
  height: 100vh;
  }


.user-value-inputs{
  background-color: #455A64;
  font-family:'Open Sans', sans-serif;
  height: 100vh;
  padding-top:30%;
  text-align: center;
  width:50%;
}

.left-section{
  width:50%;
  height: 100%;
  text-align: center;
  background-color: #455A64;
}

.logo{
  margin-bottom: -5px;
  padding: 0 5px;
  width:15%;

}

header{
  /*position: relative;*/
}

.logo{
margin-bottom: -5px;
padding-right: 5px;
>>>>>>> master
}

.user-input-section{
  text-align: center;
}

.linked-title{
  color:#FFFFFF;
  display: inline-block;
  font: 800 300% "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
}

.user-input-title {
  display: block;
  margin: 5% auto;
  padding: 4px;
  text-align: left;
  height: 20px;
  width: 90%;
}

.user-input-url {
  display: block;
  margin: 5% auto;
  text-align: left;
  padding: 4px;
  width:90%;
  height: 20px;
}

.enter-button {
  background-color: #FFC107;
  color:#FFFFFF;
  font: 800 20px "Open Sans", sans serif;
  display: block;
  margin: 5% auto;
  padding: 4px;
  width: 93%;
  height: 35px;
}

.enter-button:hover {
  background-color:#FFD773;
  color:#FFFFFF;
}

/*right section*/


.right-section{
  padding-top: 10px;
  width:50%;
  height:100%;
  font-family:'Open Sans', sans-serif;
  text-align: center;
  background-color: #CFD8DC;
}

.user-initialization{
  height:50%;
  width:100%;
  position:relative;
  top: 20%;
}

.bookmark-card {
  border: solid 2px #607D8B;
  height: 100px;
  width: 90%;
  background-color:white;
  padding-top:4px;
  margin: auto auto 10px;
  text-align: left;
}

.read-bookmark{
  background-color: #F2F4F4;
}

hr {
  border: 0;
  border-length: 100%;
  margin-top:;
  margin-right: 15px;
  margin-left: 15px;
  color:#CFD8DC;
  background-color: #CFD8DC;
  height: 1px;
}

.title-underline{
  font: 800 15px "Open Sans", sans-serif;
  color:#455A64;
  margin-left: 15px;
}

.url-underline{
  font: 400 15px "Open Sans", sans-serif;
  margin-top: 3px;
  margin-left: 15px;
  color:#607D8B;
  border-bottom: solid .5px #F2F4F4;
  border-bottom-width: 100%;
  margin-left:15px;
  margin-right:15px;
}

.url-underline:hover{
  display: inline-block;
  font: 800 15px "Open Sans", sans-serif;
  color: #455A64;
  border-bottom: solid .5px #FFC107;
  border-bottom-width:100%;
  display: inline-block;
}

.read-url-underline{
  border-bottom: solid .5px #CFD8DC;
  border-bottom-width:100%;
  margin-left: 15px;
  margin-right: 15px;
}

.read{
  margin-left: 15px;
  font: 400 15px "Open Sans", sans-serif;
  color:#455A64;
  border-bottom: solid .5px #F2F4F4;
  border-bottom-width: 100%;
}

.read-bookmark{
  margin-left: 15px;
  font: 400 15px "Open Sans", sans-serif;
  border-bottom: solid .5px #F2F4F4;
  border-bottom-width: 100%;
  border: solid 2px #607D8B;
  height: 100px;
  width: 90%;
  background-color: #F2F4F4;
  margin: auto auto 10px;
  text-align: left;
  padding-top:4px;
}

.read-link{
  color: #F05A28;
  border: none;
  margin-left: 15px;
}

.read:hover{
  border-bottom: solid .5px #FFC107;
  border-bottom-width:100%;
  font: 800 15px "Open Sans", sans-serif;
}

.delete{
  font: 400 15px "Open Sans", sans-serif;
  color:#455A64;
  float: right;
  margin-right:15px;
  border-bottom: solid .5px #F2F4F4;
  border-bottom-width: 100%;
}

.delete:hover{
  border-bottom: solid .5px #FFC107;
  border-bottom-width:100%;
}


@media (max-width: 647px) {

  .linked-title{
    color:#FFFFFF;
    display: inline-block;
    font: 800 30px "Open Sans", sans-serif;
    text-align: center;
    width: 100%;
  }

  .logo{
    margin-bottom: -10px;
    padding-right: 0 5px;
    height:-20%;
    width: 10%;
  }

  .user-input-title {
    display: block;
    margin: 5% auto;
    padding: 4px;
    text-align: left;
    height: 20px;
    width: 90%;
  }

  .user-input-url {
    display: block;
    margin: 5% auto;
    padding: 4px;
    text-align: left;
    height: 20px;
    width: 90%;
  }

  .enter-button {
    background-color: #FFC107;
    color:#FFFFFF;
    display: block;
    font: 800 20px "Open Sans", sans serif;
    margin: 5% auto;
    height: 35px;
    width: 93%;
  }

  .combined-sections{
    display:flex;
    flex-wrap:wrap;
    height: 70vh;

  }

  .left-section{
    width:100%;
    height: 100%;
    text-align: center;
    background-color: #455A64;
    padding: 0;
  }

  .right-section{
    padding-top: 10px;
    width:100%;
    height:70vh;
    font-family:'Open Sans', sans-serif;
    text-align: center;
    background-color: #CFD8DC;
  }

  .user-initialization{
    position:relative;
    height:70%;
    width:100%;
  }

  .bookmark-card {
    border: solid 2px #607D8B;
    height: 100px;
    width: 90%;
    background-color: white;
    padding-top:4px;
    margin: auto auto 10px;
    text-align: left;
  }

  .read-bookmark{
    margin-left: 15px;
    font: 400 15px "Open Sans", sans-serif;
    border-bottom: solid .5px #F2F4F4;
    border-bottom-width: 100%;
    border: solid 2px #607D8B;
    height: 100px;
    width: 90%;
    background-color: #F2F4F4;
    margin: auto auto 10px;
    text-align: left;
    padding-top:4px;
  }



}

/*@media (max-width: 738px){

  .linked-title{
    color:#FFFFFF;
    display: inline-block;
    font: 800 40px "Open Sans", sans serif;
    text-align: center;
    /*width: 50px;*/
  /*}/*/

/*}*/

/*@media (max-width: 592px){

  .linked-title{
    color:#FFFFFF;
    display: inline-block;
    font: 800 30px "Open Sans", sans serif;
    text-align: center;
    /*width: 50px;*/
  /*}*/

/*}*/

/*@media (max-width: 880px){

  .linked-title{
    color:#FFFFFF;
    display: inline-block;
    font: 800 300% "Open Sans", sans-serif;
    text-align: center;
    width: 100%;
  }



  img src{
  }

}*/
